<mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile colspan="4" rowspan="2" style="background-color: yellowgreen;">1</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" style="background-color: royalblue;">2</mat-grid-tile>
    <mat-grid-tile style="background-color: yellowgreen;">3</mat-grid-tile>
    <mat-grid-tile style="background-color: royalblue;">4</mat-grid-tile>
    <mat-grid-tile style="background-color: royalblue;">5</mat-grid-tile>
    <mat-grid-tile style="background-color: royalblue;">6</mat-grid-tile>
</mat-grid-list>
